@model IEnumerable<GamePlay.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is GamePlay</h1>
    <p>Yobaniy obame</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <tr><th>ID</th><th>LOGIN</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Iduser</td>
            <td>@user.Login</td>
        </tr>
    }
</table>
