/*Бэкгроунд*/
.modal-content {
    background: #242F43;
}

.modal-body#feedback-body {
    max-height: 65vh;
    overflow-x: auto;
}

div#feedback-body::-webkit-scrollbar {
    width: 5px;
}

div#feedback-body::-webkit-scrollbar-thumb {
    background-color: #2D3B55;
    border-radius: 20px;
}

/*ЗАголовок и название игры*/
div.container-fluid.header {
    text-align:center;
    padding-left: 0;
}

/*Отступ оценок*/
div.rating-part {
    padding-left:20px;
}

/*Кнопки оценок*/
label.btn-primary {
    background: #2F3E58;
    border: none;
    height: 32px;
    width: calc(100%/5 - 5px);
    border-radius: 0;
    text-align:center;
    margin: 0;
}

label.btn-primary[id="plot-1"], label.btn-primary[id="gameplay-1"], label.btn-primary[id="graphics-1"], label.btn-primary[id="emotions-1"] {
    border-radius: 15px 0 0 15px;
}

label.btn-primary[id="plot-5"], label.btn-primary[id="gameplay-5"], label.btn-primary[id="graphics-5"], label.btn-primary[id="emotions-5"]  {
    border-radius: 0 15px 15px 0;
}

/*Отступ между оценками*/
.rating-part.row {
    margin-bottom: 15px;
}

/*Переключатели оценок*/
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow:none;
}

.btn-check:checked {
    box-shadow:none
}

.btn-check:focus {
    box-shadow: none
}

.btn-check:checked + .btn-primary:focus {
    box-shadow:none;
}

/*Текст комментария*/
textarea[id="comment-text"] {
    height: 100px;
}

textarea[id="comment-text"]::-webkit-scrollbar {
    width:5px;
}

textarea[id="comment-text"]::-webkit-scrollbar-thumb {
    background-color: #2D3B55;
    border-radius: 20px;
}

textarea[id="comment-text"]:focus {
    box-shadow: none;
    border: none;
}

/*Кнопка отправки отзыва*/
button.send {
    margin: auto;
    background: #273E68;
    border: none;
    border-radius: 15px;
    padding-left:15%;
    padding-right:15%;
}

button.btn-close.btn-close-white#close {
    margin: 0;
}

/*Выравнивание кнопки закрытия*/
.modal-header {
    align-items:start;
}

/*Выравнивание названия оценок*/
div.rating-name {
    display:flex;
    align-items:center;
}