
button.add-button {
    margin: auto;
    background: #273E68;
    border: none;
    border-radius: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

button.btn-close.btn-close-white {
    margin: 0;
}

button.btn-close.btn-close-white:focus {
    box-shadow: none;
}