.gameName {
    color:white;
}

h1.gameName {
    margin-bottom: 1rem;
}

img.image {
    max-height:100%;
    max-width:100%;
    height:100%;
    width:auto;
    margin:auto;
    background: #000000;
}

img.indicators {
    object-fit: cover;
    aspect-ratio: 1/1;
}
.carousel-indicators {
    position:relative;
}

.carousel-item {
    max-height: 60vh;
    background: #000000;
    aspect-ratio: 16/9;
}

.description {
    color: white;
    margin-top: 1rem;
    text-align: justify;
}

.card {
    background: #242F43;
    color: white;
    border-radius: 5px;
}

div[id="nav-feedbacks"] {
    overflow-y: auto;
    max-height: 65vh;
}

div[id="nav-feedbacks"]::-webkit-scrollbar {
    width:5px;
}

div[id="nav-feedbacks"]::-webkit-scrollbar-thumb {
    background-color: #2D3B55;
    border-radius:20px;
}

.card.feedback {
    background: #242F43;
    margin: 10px;
    border: none;
}
p.feedback {
    color:white;
    margin:0;
}
span.feedback {
    color: #808080;
}

p.commentTitle {
    margin-top: 16px;
    margin-bottom: 0;
}
p.comment {
    margin: 0;
    color: #808080;
}

.card-body.feedback {
    background: #2D3B55;
    color: white;
    border-radius: 10px;
}

span.systemRequirements {
    color: #808080;
}

p.systemRequirements {
    color: white;
    font-size: 16px;
    padding-left: 5px;
    margin: 0;
}

p.systemRequirementsTitle {
    font-size: 20px;
    padding-left:5px;
}

.nav-link {
    color: white;
    outline:none;
    border:none;
}

.nav-tabs .nav-link.active{
    background: none;
    color: white;
    border: none;
    border-bottom: solid;
    outline: none;
}

.nav-link:hover {
    color: #495057;
    border: none;
    outline: none;
}

.nav-link:focus {
    color: #495057;
    border: none;
    outline: none;
}

.nav-link:not(.active) {
    border:none;
}

button.addFeedback {
    background: #273E68;
    border-radius: 15px;
    border: none;
    margin: auto;
    width: 80%;
    margin-top: 10px;
    align-items: center;
    padding:0;
}

button.addFeedback:active {
    box-shadow:none;
    background: #273E68;
}

button.addFeedback:focus {
    box-shadow:none;
    background: #273E68;
}

button.addFeedback:hover > button.addFeedback:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

/*Имя пользователя*/
p.userName {
    font-size:24px;
}

/*Средняя оценка*/
span.rating {
    margin-left: 10px;
    font-size: 20px;
    color: #808080;
}

/*Навигация меню справа*/
nav.navigation {
    block-size:fit-content;
    border:none;
    padding: 5px;
    border-radius:5px;
}

.nav-tabs {
    border:none;
}

/*Карточка общего меню справа*/
.right-menu-card {
    padding: 5px;
    border-radius: 8px;
}

div.col-8.info {
    padding-left: 0;
}

/*Основная информация*/
p.main-info {
    padding-left: 5px;
    padding-right: 5px;
}

span.main-info {
    color: #808080;
}

/*Выравнивание текста на навигационном меню справа*/
button.nav-link {
    text-align: left;
    padding-left: 0;
}

