/*Изображение по умолчанию*/

img.card-img-top {
    min-width: 100px;
    min-height: 100px;
    background-color: gray;
    border-radius: 15px 15px 0 0;
}

/* Тень кнопки*/
.btn:hover {
    box-shadow: rgba(51, 64, 90, 0.7) 10px 10px 10px 10px inset;
    border-radius: 15px;
}

.btn:focus {
    box-shadow:none;
}

/*Текст года*/
.year {
    color: #bcbcbc;
}

/*Текст рейтинга*/
.rating {
    color: #bcbcbc;
}

/*Цвет катрочки*/
.card {
    background: #242F43;
    border-radius: 15px;
}

/*Фильтры*/
.accordion-button {
    background-color: #242F43;
    color: white;
    outline:none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #242F43;
    color: white;
    outline:none;
}

.accordion-button.collapsed::after {
    background-image: url(/Images/chevron-right.png)
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/Images/chevron-down.png)
}


.accordion-item {
    color: #222B3D;
    background: #222B3D;
}

input.btn-primary {
    background-color: #314364;
    border-color: #314364;
}

input.btn-primary:hover {
    box-shadow: none;
    border-radius: 3px;
}

.form-check-input {
    box-shadow: none;
    background: #314364;
}

.filters {
    margin-top: 6px;
}
