.form-floating > .form-control {
    height: calc(2rem + 2px);
    text-indent: 8px;
}

button.login {
    background: #2c559f;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin-top: 10px;
}

button.login:hover {
    border-radius: 15px;
    background: #6788cc;
}

.card {
    background: #242F43;
    border-radius: 15px;
    margin:auto;
}

form[id="account"] {
    background: #2D3B55;
    padding: 5px;
    border-radius:0 0 15px 15px;
}

.registerLink {
    color: #8F8F8F;
}

.registerLink:hover {
    color: white;
}

.nav-link.registerLoginSwitch:hover {
    color: white;
    border: none;
    border-bottom: solid;
    border-color: gray;
}
.nav-link.active.registerLoginSwitch {
    color: white;
    background: none;
    border: none;
    border-bottom: solid;
}

.nav-link.registerLoginSwitch {
    color: white;
}



.nav-link:not(.active) {
    border: none;
}
