/*Карточка*/
.card {
    background: #242F43;
    border-radius: 15px;
}

/*Изображение на карточке*/
img.img-fluid {
    min-width:100%;
    min-height:100%;
    background-color: gray;
    border-radius: 15px 0 0 15px;
    aspect-ratio:16/7;
    object-fit:cover;
}

/*Кнопка карточки*/
.btn:hover {
    box-shadow: rgba(51, 64, 90, 0.7) 10px 10px 10px 10px inset;
    border-radius: 15px;
}

.btn:focus {
    box-shadow: none;
}

/*Выравнивание содержимого в карточке*/
div.news-info {
    display:flex;
    align-items:center;
}