.form-floating > .form-control {
    height: calc(2rem + 2px);
    text-indent: 8px;
}

button.register {
    background: #2c559f;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin-top: 10px;
}

button.register:hover {
    border-radius: 15px;
    background: #6788cc;
}

.card {
    background: #242F43;
    border-radius: 15px;
    margin: auto;
}

form[id="registerForm"] {
    padding: 5px;
    border-radius: 0 0 15px 15px;
}

.loginLink {
    color: #979797;
}

.loginLink:hover {
    color: white;
}

.nav-link.registerLoginSwitch:hover {
    color: white;
    border: none;
    border-bottom: solid;
    border-color: gray;
}

.nav-link.active.registerLoginSwitch {
    color: white;
    background: none;
    border: none;
    border-bottom: solid;
    cursor:default;
}

.nav-link.registerLoginSwitch {
    color: white;
}



.nav-link:not(.active) {
    border: none;
}

/*Сообщение об ошибке*/
p#error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 0;
}

/*Отступ между логином, почтой и паролем*/
div.form-floating.login, div.form-floating.e-mail {
    margin-bottom: 10px;
}

input#User_Birth_Date {
    text-indent:4px;
}