<link rel="stylesheet" href="~/css/topicsIndex.css" asp-append-version="true"/>
@model TopicsViewModel

@{
    ViewData["Title"] = "Topics";
}

<div id="topics">
    <div class="col-9">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            @foreach(var topic in Model.Topics)
            {
                <a asp-action="Topic" asp-controller="Topics" asp-route-id="@topic.Idtopic" class="col btn topic-link"> @*Нужно вставить ссылку на содержимое подборки*@
                    <div class="card h-100 text-white">
                        <img class="card-img-top" src="@topic.Img"> @*Нужно вставить ссылку на изображение*@
                        <div class="card-body">
                            <h5 class="card-title text-center">@topic.Name</h5> @*Нужно вставить название подборки*@
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>


